body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 50px 0;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    color: white;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0;
    margin: 0 250px;
}

a {
    text-decoration: none;
}

.links {
    display: flex;
    gap: 20px;
}

.hero-section {
    background-color: #1f2937;
    height: 500px;
}

.feature-section {
    height: 450px;
}

.testimonial-section {
    height: 500px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    width: 800px;
    margin: 0;
}

.author {
    font-size: 26px;
    font-weight: 800;
    width: 800px;
    text-align: end;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.links a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

.hero-btn {
    background-color: #3882f6;
    padding: 6px 35px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    border-style: solid;
    border-color: #1f2937;
}

.hero-img {
    width: 500px;
    height: 250px;
    background-color: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 250px;

}

.header {
    background-color: #1f2937;
}

.hero-text {
    width: 450px;
    height: 250px;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 160px;
    height: 160px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 12px;
    border-width: 4px;
}

.feature-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
    margin: 0 20px;
    font-size: 18px;
    color: #383838;
}

.cta-container {
    width: 1200px;
    height: 170px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-radius: 12px;
    border-color: white;
}

.cta {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 6px 0 0;
}

.cta-btn {
    padding: 8px 34px;
    background-color: #3882f6;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F2937;
    height: 100px;
    font-size: 18px;
}